header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    height: 70px;
}

nav {
    width: 450px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 40px;
    margin-right: 1rem;
}

#searchbutton {
    background-color: black;
    color: white;
    height: 40px;
    width: 80px;
    margin-right: 30px;
}

header input,
a:hover {
    cursor: pointer;
}

.section1 {
    width: auto;
    height: 680px;
    color: white;

    background-image: url(b1.png);
    background-size: cover;
}

.section1 div input:hover {
    cursor: pointer;
}

.section1 h2,
p,
h4 {
    width: 400px;
    height: 110px;
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.section1 h2 {
    font-size: 4em;
    margin-bottom: 70px;


}

.section1 h4 {
    font-size: 2em;
    margin-top: 50px;
}



#infobutton {
    display: flex;

    flex-direction: row;
    justify-content: space-evenly;
    height: 40px;
}


#infobutton input {
    color: white;
    width: 180px;
    height: 40px;
}

#section2 h4,
p {
    width: 400px;
    height: 110px;
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;

}

#section2 div {
    text-align: center;
    margin: 60px auto 0px 0px;
}

#section2 p {
    font-size: 0.8em;
}

#section2 h4 {
    font-size: 2em;
    margin: 20px auto;
}

hr {
    width: 92%;
}

#section3 p {
    text-align: left;
    margin: 0;
    padding: 0;
}

#section4 {
    width: 100%;
    margin-top: 10px;
    padding: 50px;
    height: 230px;
    background-image: url(background.png);
    background-size: cover;
    color: white;
}

#section4 h4 {
    font-size: 3em;
    width: 300px;
    margin-bottom: 40px;
}